<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Voluntr requires the use of the phone&apos;s location in order to use the app&apos;s interactive map feature. Voluntr Template App does not save any user locations and only tracks while using the map feature within the app.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Voluntr can use Face and Touch ID for logging into your account. If approved, this can be instead of typing in a password. Voluntr does not record, store, or share any Face or Touch ID information.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
